
<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Espace Enseignant</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list id="inbox-list">
      <ion-list-header>
        <ion-icon name="person-circle" color="primary"></ion-icon> 
        M. KONE
      </ion-list-header>
      <ion-note>Mathématiques - 6ème / 5ème</ion-note>

      <ion-list-header>Général</ion-list-header>
      <ion-menu-toggle autoHide="false" *ngFor="let p of appPages">
        <ion-item [routerLink]="p.url" routerDirection="root" [routerLinkActive]="['active']" lines="none" detail="false">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" fill="clear" color="medium" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Déconnexion
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
