<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #formulaireConnexion="ngForm" (ngSubmit)="login()">
    
    <ion-list lines="full">
      <ion-item>
        <ion-input
          label="Email"
          type="email"
          name="email"
          [(ngModel)]="credentials.email"
          required
        ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input
          label="Mot de passe"
          type="password"
          name="password"
          [(ngModel)]="credentials.password"
          required
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="!formulaireConnexion.valid" 
      class="ion-margin-top"
    >
      Se connecter
    </ion-button>
  </form>

  <ion-button 
    expand="block" 
    fill="clear" 
    routerLink="/signup"
    class="ion-margin-top"
  >
    Créer un compte
  </ion-button>
  
</ion-content>

<ion-footer class="ion-padding">
  <ion-button 
    expand="block" 
    fill="clear" 
    color="medium"
    (click)="logout()"
  >
    Déconnexion (Test)
  </ion-button>
</ion-footer>