

<ion-content [fullscreen]="true">
  <div class="hero-header">
    <h1>Historique de la  Cellule </h1>
    <p>La Cellule Numérique a vu le jour en 2024 au sein de l'espace Numérique ouvert de Diourbel
       <br>
        Elle a été conçu pour dynamiser la vie estudiantine et favoriser l'entreaide entre <br> les filières du Numérique
    </p>
  </div>

  <div class="main-content">
    <ion-card class="president-card-horizontal">
   <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      
      <ion-col size="4">
        <div class="image-wrapper">
          <img src="assets/icon/amina.jpg" alt="Aminata Ba" />
        </div>
      </ion-col>
      
      <ion-col size="8">
        <div class="content-wrapper">
          <div class="badge-row">
            <ion-badge color="secondary">PROMOTION 9</ion-badge>
            <ion-badge color="tertiary" class="ion-margin-start">Première président de la Cellule Numérique</ion-badge>
          </div>
          <h2 class="name">Aminata Ba</h2>
          <h3 class="role">Communication Digitale</h3>
          <p class="description">
  
          Pionnière et visionnaire, <strong>Aminata Ba</strong> a marqué l'histoire de la Cellule Numérique. 
          Issue de la filière Communication Digitale, elle a su fédérer les talents de toutes les filières 
          pour créer une synergie dynamique au sein de la structure.
          
        </p>
        </div>
      </ion-col>

      

    </ion-row>
  </ion-grid>
</ion-card>
       
<ion-card class="president-card-horizontal">
   <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-center">
      
      <ion-col size="4">
        <div class="image-wrapper">
          <img src="assets/icon/soh.jpg" alt="Aminata Ba" />
        </div>
      </ion-col>
      
      <ion-col size="8">
        <div class="content-wrapper">
          <div class="badge-row">
            <ion-badge color="secondary">PROMOTION 12</ion-badge>
            <ion-badge color="tertiary" class="ion-margin-start">président actuelle</ion-badge>
          </div>
          <h2 class="name">Sohibou Ndiaye</h2>
          <h3 class="role">Informatique Développement d'Applications</h3>
          <p class="description">
  
          Pionnière et visionnaire, <strong>Aminata Ba</strong> a marqué l'histoire de la Cellule Numérique. 
          Issue de la filière Communication Digitale, elle a su fédérer les talents de toutes les filières 
          pour créer une synergie dynamique au sein de la structure.
          
        </p>
        </div>
      </ion-col>

      

    </ion-row>
  </ion-grid>
</ion-card>

    <div class="footer-space"></div>
  </div>
</ion-content>