<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>📝 Gestion des Absences</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="presentAddAbsenceAlert()" color="success">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list-header>
    <ion-label>Liste des Enregistrements</ion-label>
  </ion-list-header>

  <ion-list *ngIf="absences$ | async as absences">
    
    <ion-item *ngFor="let absence of absences">
      <ion-label>
        <h2>{{ absence.etudiantNom }}</h2>
        <p>Cours : **{{ absence.cours }}**</p>
      </ion-label>

      <ion-note slot="end" [color]="absence.motif.toLowerCase().includes('non justifié') ? 'danger' : 'warning'">
        <p>Le {{ absence.date }} ({{ absence.dureeHeures }}h)</p>
        <p>{{ absence.motif }}</p>
      </ion-note>
      
      <ion-buttons slot="end">
        <ion-button color="danger" fill="clear" (click)="deleteAbsence(absence.id!)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="absences.length === 0">
      <ion-label class="ion-text-center">
        Aucun enregistrement d'absence trouvé.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>