<ion-split-pane when="lg" contentId="main-content">

  <ion-menu contentId="main-content" >
    <ion-content class="sidebar-container">
      <div class="sidebar-header">
        <ion-avatar class="image-ronde">
          <img src="assets/icon/CN..jpg" alt="logo">
        </ion-avatar>
        <h3>CELLULE NUMÉRIQUE</h3>
      </div>

      <ion-list lines="none">
        <ion-item a href="/home" routerLinkActive="active-item">
          <ion-icon slot="start" name="grid-outline"></ion-icon>
          <ion-label>Tableau de Bord</ion-label>
        </ion-item>

        <ion-item a href="/filiere" routerLinkActive="active-item"> 
          <ion-icon slot="start" name="folder-outline"></ion-icon>
          <ion-label>Filières</ion-label>
        </ion-item>

        <ion-item a href="/parc" routerLinkActive="active-item">
          <ion-icon slot="start" name="desktop-outline"></ion-icon>
          <ion-label>Parc </ion-label>
        </ion-item>

        <ion-item a href="/eno" routerLinkActive="active-item">
          <ion-icon slot="start" name="list-outline"></ion-icon>
          <ion-label>ENO</ion-label>
        </ion-item>

        <ion-item a href="/parc" routerLinkActive="active-item">
          <ion-icon slot="start" name="desktop-outline"></ion-icon>
          <ion-label>Parc Informatique</ion-label>
        </ion-item>

        

        <ion-item a href="/historiques" routerLinkActive="active-item">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>Historique</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    
    <ion-header class="ion-no-border ion-hide-lg-up">
      <ion-toolbar style="--background: #0f172a;">
        <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title color="light" style="font-size: 16px;">CELLULE NUMÉRIQUE</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="dashboard-bg">
      <ion-grid class="ion-padding">
        
        <ion-row class="ion-align-items-center">
          <ion-col size="10" size-md="11">
            <ion-searchbar placeholder="Search" class="custom-search"></ion-searchbar>
          </ion-col>
          <ion-col size="2" size-md="1" class="header-icons">
            <ion-icon name="notifications-outline" class="top-settings"></ion-icon>
            <ion-avatar style="width: 38px; height: 30px;">
              <img src="assets/icon/CN..jpg" alt="logo">
            </ion-avatar>
          </ion-col>
        </ion-row>

        <h4 class="section-title">Tableau de Bord Général</h4>

        <ion-row>
          <ion-col size-lg="3" size-xs="6"><div class="card-stat c-blue"> IDA <br><small>Informatique Développement <br> d'Applications</small></div></ion-col>
          <ion-col size-lg="3" size-xs="6"><div class="card-stat c-yellow"> <div>MIC <br><small>Multimédia Internet et Communication</small> </div></div></ion-col>
          <ion-col size-lg="3" size-xs="6"><div class="card-stat c-green"> <div>CD <br><small>Communication Digitale</small> </div></div></ion-col>
          <ion-col size-lg="3" size-xs="6"><div class="card-stat c-purple"> <div>AGN <br><small>Art Graphique et Numérique</small></div></div></ion-col>
        </ion-row>

        <ion-row class="ion-margin-top">
          <ion-col size-lg="8" size-xs="12">
            <h4 class="section-title">Bienvenu à la CELLULE NUMÉRIQUE de l'ENO de Diourbel</h4>
            <div class="filiere-card border-green">
              
              <div>
              <h4>  La Cellule Numérique de l'espace Numérique ouvert de Diourbel ouvre sa porte 
                à l'ensemble  des étudiants des Filières IDA, MIC, CD et AGN. 
              </h4>
              </div>
              
            </div>
          
          </ion-col>

          <ion-col size-lg="4" size-xs="12">
            <h4 class="section-title">Annonces Récents </h4>
            <div class="annonce-card">
              
              <span>
                <h4>Cours de renforcement de la P11 et P12 à partir de lundi prochain</h4>
              </span>
            </div>
          </ion-col>
        </ion-row>

        <h4 class="section-title">Projets cours </h4>
        <div class="table-wrapper">
          <table class="dashboard-table">
            <thead>
              <tr><th>N°</th><th>Titre Projet</th><th>Filière</th><th>Coders</th><th>Statut</th><th>Action</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td><td>Plateforme E-commerce</td><td>IDA</td><td>2</td><td class="text-green">Actif</td><td><ion-icon name="ellipsis-vertical"></ion-icon></td>
              </tr>
              <tr>
                <td>2</td><td>Logo Cellule Numérique</td><td>MIC</td><td>1</td><td class="text-green">Actif</td><td><ion-icon name="ellipsis-vertical"></ion-icon></td>
              </tr>
            </tbody>
          </table>
        </div>

      </ion-grid>
    </ion-content>
  </div>

</ion-split-pane>