<ion-app>
  <ion-menu contentId="main-admin-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Espace Direction / Admin</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list id="admin-list">

        <ion-menu-toggle autoHide="false" *ngFor="let p of appPages">
          <ion-item [routerLink]="p.url" routerDirection="root" [routerLinkActive]="['active']" lines="none" detail="false">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list-header>Gestion des Effectifs</ion-list-header>
        <ion-menu-toggle autoHide="false" *ngFor="let p of gestionEffectifs">
          <ion-item [routerLink]="p.url" routerDirection="root" [routerLinkActive]="['active']" lines="none" detail="false">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list-header>Gestion Pédagogique</ion-list-header>
        <ion-menu-toggle autoHide="false" *ngFor="let p of gestionPedagogique">
          <ion-item [routerLink]="p.url" routerDirection="root" [routerLinkActive]="['active']" lines="none" detail="false">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-list-header>Finances & Facturation</ion-list-header>
        <ion-menu-toggle autoHide="false" *ngFor="let p of financesFacturation">
          <ion-item [routerLink]="p.url" routerDirection="root" [routerLinkActive]="['active']" lines="none" detail="false">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-list-header>Système & Communication</ion-list-header>
        <ion-menu-toggle autoHide="false" *ngFor="let p of systemeCommunication">
          <ion-item [routerLink]="p.url" routerDirection="root" [routerLinkActive]="['active']" lines="none" detail="false">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-button expand="full" fill="clear" color="medium" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Déconnexion
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main-admin-content"></ion-router-outlet>
</ion-app>