<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestion des Étudiants</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAddEtudiantAlert()">
        <ion-icon slot="icon-only" name="add-circle-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list-header>
    <ion-label>Liste des Étudiants</ion-label>
  </ion-list-header>

  <ion-list *ngIf="etudiants$ | async as etudiants">
    
    <ion-item *ngIf="etudiants.length === 0">
      <ion-label>Aucun étudiant enregistré pour le moment. Cliquez sur '+' pour ajouter.</ion-label>
    </ion-item>

    <ion-item *ngFor="let etudiant of etudiants">
      
      <ion-label>
        <h2>{{ etudiant.nom }}</h2>
        <p>Matricule: {{ etudiant.matricule }}</p>
      </ion-label>
      
      <ion-note slot="end" color="medium">{{ etudiant.filiere }}</ion-note>

      <ion-buttons slot="end">
        
        <ion-button (click)="updateEtudiant(etudiant)">
          <ion-icon slot="icon-only" name="create-outline" color="tertiary"></ion-icon>
        </ion-button>
        
        <ion-button (click)="deleteEtudiant(etudiant.id!)" color="danger">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
        
      </ion-buttons>

    </ion-item>
  </ion-list>

</ion-content>