<ion-content [fullscreen]="true" class="ion-padding-bottom">
 
  <div class="header-icons">
      <div class="server-status ion-hide-sm-down">
        <span class="pulse-dot"></span>
        <ion-label>Cellule Opérationnelle</ion-label>
      </div>
      <ion-icon name="notifications-outline" class="notif-icon"></ion-icon>
      <div class="user-profile">
        <img src="assets/icon/CN..jpg" alt="CN"/>
      </div>
    </div>
 
  <div class="hero-container ion-padding-horizontal">
    <div class="hero-card">
      <div class="hero-content">
        <h2>Bienvenue dans votre espace de formations</h2>
        <p>Innover, Partager, Connecter</p>
      </div>
    </div>
    <ion-button expand="block" class="tour-button" mode="ios">
      Faire le tour des differentes Filières de la Cellule Numérique de l'Espace Numérique Overt de Diourbel
      
    </ion-button>
  </div>

  <div class="ion-padding">
    <div class="grid-scroll">
      <div class="resource-item">
        <div class="image-circle border-blue">
           <img src="assets/icon/ida.jpg" />
          
        </div>
        <h3> Informatique developpement <br>d'applications </h3>
        <ion-badge color="success">IDA</ion-badge>
        <ion-button size="small" expand="block" class="btn-purple">Voir plus</ion-button>
      </div>

      <div class="resource-item">
        <div class="image-circle border-blue">
         <img src="assets/icon/mic.jpg" />
        </div>
        <h3>Multimédia internet <br> et Communication </h3>
        <ion-badge color="warning">MIC</ion-badge>
        <ion-button size="small" expand="block" class="btn-purple">Voir plus</ion-button>
      </div>

       <div class="resource-item">
        <div class="image-circle border-blue">
         <img src="assets/icon/agn.png" />
        </div>
        <h3>Art Graphique et <br> Numérique </h3>
        <ion-badge color="warning">AGN</ion-badge>
        <ion-button size="small" expand="block" class="btn-purple">Voir plus</ion-button>
      </div>

       <div class="resource-item">
        <div class="image-circle border-blue">
         <img src="assets/icon/cd.jpg" />
        </div>
        <h3>Communication <br>digitale </h3>
        <ion-badge color="warning">CD</ion-badge>
        <ion-button size="small" expand="block" class="btn-purple">Voir plus</ion-button>
      </div>

    </div>
  </div>
 <tbody>
                            <tr>
                                <td>1</td>
                                <td>Plateforme E-commerce</td>
                                <td>IDA</td>
                                <td>2</td>
                                <td>1020</td>
                                <td><span class="status active">Actif</span></td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>

                             <tr>
                                <td>1</td>
                                <td>INFOGRAPHIE</td>
                                <td>MIC</td>
                                <td>1</td>
                                <td>100</td>
                                <td><span class="status active">Actif</span></td>
                                <td><i class="fas fa-ellipsis-v"></i></td>
                            </tr>
                        </tbody>
</ion-content>

